<h1>Profile</h1>

<p><strong>First Name:</strong> <%= @profile.first_name %></p>
<p><strong>Last Name:</strong> <%= @profile.last_name %></p>
<p><strong>Library Code:</strong> <%= @profile.library_code %></p>

<%= link_to "Edit Profile", edit_profile_path(@profile), class: "btn btn-primary" %>

<h2>Currently Borrowed Books</h2>
<ul>
  <% @user.borrowings.where(returned_at: nil).each do |borrow| %>
    <li>
      <%= link_to borrow.book.title, book_path(borrow.book) %>  
      (Due: <%= borrow.due_date.strftime("%d %B %Y") %>)
    </li>
  <% end %>
</ul>

