<!DOCTYPE>
<head>
<%= stylesheet_link_tag "dashboard.css" %>
</head>
<body>
<div class="container-md">
<div class="navigation">
<h2>BorrowHUb</h2>
<div class="dropdown">
  <a href="#">
  Welcome, <%= Current.user.email_address %>
  </a>
  <div class="dropdown-menu" id="dropdownMenu">
    <% if Current.user.profile.present? %>
      <%= link_to "my Profile", profile_path(Current.user.profile), class: "dropdown-item" %>
    <% else %>
      <p class="dropdown-item text-muted">Profile not set</p>
    <% end %>
    <%= button_to "Logout", session_path, method: :delete %>
  </div>
  </div>
</div>
<div class="quote-container">
  <p><%= @random_quote %></p>
</div>

<style>
  .dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
</style>

<h6>Explore</h6>

<div class="books-container">
  <% @books.each do |book| %>
    <div class="book-item">
    <img src="<%= book.cover_image %>" alt="<%= book.title %> Cover" style="width: 150px; height: 200px;">
      <h5><%= book.title %></h5>
      <p>by <%= book.author %></p>
      <p>ISBN: <%= book.isbn %></p>
      
      <% if book.available? %>
      <%= link_to "View Details", book_path(book) %>
      <% else %>
        <button disabled>Borrowed</button>
      <% end %>
    </div>
  <% end %>
</div>
</div>
</body>