<div class="container-md">
<h1>BorrowHUb</h1>

<div class="dropdown">
  <a href="#" class="dropdown-toggle" id="userDropdown">
    <%= Current.user.email_address %>
  </a>
  <div class="dropdown-menu" id="dropdownMenu">
    <% if Current.user.profile.present? %>
      <%= link_to "my Profile", profile_path(Current.user.profile), class: "dropdown-item" %>
    <% else %>
      <p class="dropdown-item text-muted">Profile not set</p>
    <% end %>
    <%= button_to "Logout", method: :delete, class: "dropdown-item" %>
  </div>
</div>

<style>
  .dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
</style>

<h1>Explore</h1>

<div class="books-container">
  <% @books.each do |book| %>
    <div class="book-item">
      <h2><%= book.title %></h2>
      <img src="<%= book.cover_image %>" alt="<%= book.title %> Cover" style="width: 150px; height: 200px;">
      <p>by <%= book.author %></p>
      <p>ISBN: <%= book.isbn %></p>
      
      <% if book.available? %>
      <%= link_to "View Details", book_path(book), class: "btn btn-primary" %>
      <% else %>
        <button disabled>Borrowed</button>
      <% end %>
    </div>
  <% end %>
</div>
<%= button_to "Logout", session_path, method: :delete %>
</div>