<h1><%= @book.title %></h1>
<img src="<%= @book.cover_image %>" alt="<%= @book.title %> Cover" style="width: 200px; height: 300px;">
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>ISBN:</strong> <%= @book.isbn %></p>
<p><strong>Genre:</strong> <%= @book.genre %></p>
<p><strong>Description:</strong> <%= @book.description %></p>
<p><strong>Published Year:</strong> <%= @book.published_year %></p>

<%= link_to "Back to Books", root_path, class: "btn btn-secondary" %>
